name: build and publish docs

on:
  push:
    tags:
      - "v*"
    branches: # for testing
      - main

jobs:
  build:
    name: build and publish docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5.1.0
        with:
          python-version: 3.12

      - name: Install sphinx
        run: pip install sphinx

      - name: Build docs
        run: cd docs && make html

      - name: Publish docs to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
